body {
	width: 800px;
	margin: 0px auto;
}

.error {
	background: red;
	color: white;
	padding: 20px;
	font-size: 150%;
	border-radius: 6px;
	line-height: 0.8;
	box-shadow: 4px 4px 4px 0px black;
}

/*
#save:hover {
	background: green;
	color: white;
}

#reset:hover {
	background: yellow;
}

#clean:hover {
	background: red;
	color: white;
}
*/

#dump {
	float:right;
}

img.right {
    display: block;
    margin-left: auto;
}

fieldset {
	border: 1px solid #999;
	margin: 20px 0 0 0;
	padding: 0;
	clear: both;
	box-sizing: border-box;
	width: 100%;
	border-radius: 6px;
}

fieldset div {
	background: #f1f1f1;
	padding: 5px 5px 4px 5px;
	margin: 0 -1px -4px -1px;
	border: 1px solid #999;
	border-top-color: rgba(0,0,0,0.1);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

legend {
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px 0 20px;
	color: #F1F1F1;
	background-image: -o-linear-gradient(top, #D6D6D6, #262626);
	font-weight: bold;
	text-indent: -15px;
	line-height: 1.7;
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

table {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

th {
	text-align: left;
	width: 50%;
	padding: 5px 5px 5px 20px;
	font-weight: normal;
	border-bottom: none;
}

tr {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

tr:nth-child(even) {
	background-color: rgba(0,0,0,0.03);  
}

table td:nth-child(2) {
	width: 30%;
}

table td:nth-child(3) {
	text-align: right;
}

td {
	text-align: left;
	padding: 0.2em 1em 0.2em 0;
	vertical-align: top; 
}

td a {
	text-decoration: none;
	margin: 0;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	width: 18px;
	height: 18px;
	border-radius:4px;
	color: #fff;
	background: rgba(0,0,0,0.15);
	text-shadow:0 -1px 0 rgba(0,0,0,0.15);
	border:1px solid rgba(0,0,0,0.15);
}

td a:hover {
	background: #5D9DF5;
	color: #fff;
}
